name: Auto Deploy

on:
  push:
    branches: [ "master" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and Push Image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/my-webh5:latest

    - name: Deploy to Server via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          # 停止并删除旧容器 (如果存在)
          docker stop my-vue-site || true
          docker rm my-vue-site || true
          
          # 强制拉取最新镜像 (使用配置好的加速器)
          docker pull ${{ secrets.DOCKER_USERNAME }}/my-webh5:latest
          
          # 启动新容器
          docker run -d \
            --name my-vue-site \
            -p 8081:80 \
            --restart=always \
            ${{ secrets.DOCKER_USERNAME }}/my-webh5:latest